/* Reset some default browser styling */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Use Roboto for body text */
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: black;
    color: white;
    padding: 40px 0;
}

.header-container {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Aligns items to the ends */
    align-items: center; /* Vertically center aligns items */
    width: 90%; /* Width of the header container */
    margin: 0 auto; /* Center the container itself */
}

.header-title {
    text-align: center; /* Center aligns title and welcome message */
}

.header-title h1 {
    font-size: 32px; /* Change this value to your desired size */
}

.header-title p {
    font-size: 20px; /* Change this value to your desired size */
}

.contact-info {
    text-align: right; /* Right aligns contact info */
    font-size: 20px; /* Font size for contact info */
    display: flex; /* Use flexbox for contact info */
    flex-direction: column; /* Arrange icons vertically */
    margin-left: auto; /* Pushes contact info to the right */
}

.contact-info p {
    margin: 0; /* Remove default margin for paragraphs */
    display: flex; /* Align icon and text horizontally */
    align-items: center; /* Center items vertically */
}

.contact-info i {
    margin-right: 7px; /* Add space between icon and text */
}

.contact-info a {
    color: #6da0f3; /* Change link color */
    text-decoration: none; /* Remove underline from links */
}

.contact-info a:hover {
    text-decoration: underline; /* Underline on hover */
}

.about,
.skills,
.projects {
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2,
.skills h2,
.projects h2 {
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat for section headings */
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
}

.about p,
.skills p,
.projects ul {
    font-size: 18px;
}

.projects ul {
    list-style: none;
}

.projects li {
    margin-bottom: 10px;
}

.projects a {
    text-decoration: none;
    color: #6da0f3;
}

.projects a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: white;
    margin-top: 40px;
}

footer a {
    color: #6da0f3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}